version: '3.8'

services:
  backend:
    image: seohyun7/ticketing-server:latest
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"