<!DOCTYPE html>
<html>
  <head>
    <title>티켓팅 서비스</title>
    <style>
      body {
          background-color: white; /* 배경을 무조건 흰색으로 */
          color: black;            /* 글씨는 검은색으로 */
      }
    </style>
  </head>
  <body>
    <h1>환영합니다! <%= message %></h1>
  </body>
</html>